{{!-- <h1> hell</h1>
<p>id: {{id}} </p>
<p>wish: {{wish}} </p>
 --}}

<ul>
	{{!-- MYSQL wishes:  --}}
	{{#each wishes}} 
		<li>
			<p> Id: {{id}}</p>
			<p> Wish: {{wish}}</p>
		</li>
	{{/each}}

</ul>

<form action="/" method="POST">
	<textarea type ="text" name ="wish"></textarea>
	<button type ="submit">Submit</button>
</form>